body{
	background-color: #1B1B1B;
}

nav.menu-nav{
	padding-left:
} 
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;


}

nav.menu-nav ul li.btn a{
	color: #ffffff;
	text-decoration: none;
	background-color: #414649; 
	font-family: 'Secular One', sans-serif;
	padding: 7.5px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 20px; 
}

nav.menu-nav ul li.btn:hover a{
	color: #414649;
	background-color: #DAD9D3;
	transition: 0.5s all;

}

div{
	margin-bottom: 50px;
}

div.select select{
	margin: auto;
	font-size: 20px;
	color: #DAD9D3 ;
	background-color: #1B1B1B;
	padding-left: 30px;
	padding-right:30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 200px; 
} 


div iframe{
	padding: 15px;
	background-color: #414649;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 20px; 

}
div iframe:hover{
	padding: 15px;
	background-color: #DAD9D3;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 20px;
	transition: 0.5s; 
}
